@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-size: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #081b29;
  color: #ededed;
}

header {
  background-color: #081b29;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 3px 10px #022f41;
  padding-bottom: 10px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 1rem 3.5rem;
  align-items: center;
}
header .navbar .logo {
  display: flex;
  align-items: center;
  box-flex: row wrap;
  padding-left: 50px;
}
header .navbar .logo a {
  text-decoration: none;
  color: #ededed;
  font-weight: 500;
  font-size: 25pt;
  text-align: center;
}
header .navbar .logo a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100;
  background-color: #081b29;
  animation: showRight 1s ease forwords;
  animation-delay: 1s;
}
header .navbar ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  padding: 0 40px;
}
header .navbar ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 14pt;
  color: #ededed;
  transition: 0.5s;
  font-weight: bold;
}
header .navbar ul li a:hover {
  color: #00abf0;
}
header .navbar ul .ativo {
  color: #00abf0;
}

.home {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 150px;
  padding-left: 60px;
  padding-bottom: 20px;
}
.home .home-content {
  flex: 50%;
  padding: 10px;
}
.home .home-content h2 {
  font-size: 54px;
  font-weight: bolder;
}
.home .home-content h3 {
  font-size: 32px;
  font-weight: bolder;
  color: #00abf0;
}
.home .home-content p {
  font-size: 18px;
  margin: 20px 0 40px;
}
.home .home-content .btn-box {
  width: 340px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.home .home-content .btn-box a {
  text-decoration: none;
  display: inline-flex;
  font-size: 16pt;
  color: #081b29;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: #00abf0;
  border: 1px solid #00abf0;
  border-radius: 5px;
}
.home .home-content .btn-box a:hover {
  background-color: #081b29;
  color: #00abf0;
  transition: 0.6s;
  transform: translateY(-5px);
}
.home .home-content .btn-box .conver {
  background: transparent;
  color: #00abf0;
}
.home .home-content .btn-box .conver:hover {
  background-color: #00abf0;
  color: #081b29;
  transition: 0.6s;
  transform: translateY(-5px);
}
.home .home-content .redes-sociais {
  background-color: #00abf0;
  position: absolute;
  bottom: 40px;
  width: 170px;
}
.home .home-img {
  flex: 40%;
  margin: 2%;
  text-align: center;
}
.home .home-img img {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 700px) {
  .navbar .nav-list {
    display: none;
  }
  .navbar .logo {
    text-align: center;
    padding-left: 10px;
  }
  .home {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 140px;
    padding-left: 8px;
    padding-bottom: 20px;
    overflow-x: hidden;
  }
  .home-img {
    display: flex;
    flex: column wrap;
    align-items: center;
  }
  .home-img img {
    width: 200px;
    height: 300px;
    margin-right: 100px;
  }
}/*# sourceMappingURL=index.css.map */